*{
  box-sizing: border-box;
}

body{
   font-family: 'Quicksand', sans-serif;
 /*   background-color: #0C0A3E;*/
}

.my-background {
    background: linear-gradient(to bottom right, #4F84C4,#F3D6E4);
    color: #223A5E;
    height:800px;
    text-align: center;
}

h1{
    height: 3em;
}


.login-btn {
    display:block;
    margin: auto;
    width:300px;
}

.navbar{
    margin-bottom: 0;
    color:#F3C677;
}

.navbar-default{
    font-size:1.5em;
    background-color: #7B1E7A;
    color:#F3C677;
}
.my-header {
    color: #F3C677;
}

h1.logo {
    font-family: 'Pacifico', cursive;
    font-size:5em; 
}

.my-container{
	margin: 4.5% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
