<!DOCTYPE html>
<html lang="en" ng-app="coursomaticApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/gcal.js"></script>

    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--UI Bootstrap-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!--style-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--App Stuff-->
    <script src="app/app.js"></script>
    <script src="model/users.js"></script>
    <script src="model/session.js"></script>
    <script src="model/course.js"></script>
    <script src="app/home/homeCtrl.js"></script>
    <script src="app/login/loginCtrl.js"></script>
    <script src="app/gallery/galleryCtrl.js"></script>
    <script src="app/newUser/newUserCtrl.js"></script>
    <script src="app/studentList/studentList.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="app/login/login.css" rel="stylesheet">
    <link href="app/gallery/gallery.css" rel="stylesheet">
    <link href="app/newUser/newUser.css" rel="stylesheet">
    <link href="app/studentList/studentList.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">
    <nav class="navbar navbar-default my-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">Coursorama</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()"><a href="#!/newStudent">New Student</a></li>
                <!-- removed user.type === "teacher"-->
                <li ng-show="isLoggedIn()"><a href="#!/studentList">Student List</a></li>
                <!-- <li ng-show="isLoggedIn()"><a href="#!/userProfile">My Profile</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()"><a href="#" ng-click="login()">Login</a></li>
                <li ng-show="isLoggedIn()"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>


    <ng-view></ng-view>
</body>

</html>