.attendance-galery >div >button {
    background: transparent;
    color:white;
    font-size: 1.3em;
}

img.course-image {
/*    top: 10%;
    left: 6%;*/
    background: #F3D6E4;
    border: 3px solid #4F84C4;
    width: 60px;
    height: 60px;
}

.sessionItem {
    background: transparent;
    font-size: 1.2em;
    cursor:pointer;
}

.sessionDetails >div >h4 >div >button {
    background:transparent;
}

.sessionDetailsItem {
    display:inline-block;
}

.fa-thumbs-up {
    color: #99c2ff;
}

.fa-thumbs-down {
    color: #c94c4c;
}