.my-gallery {
    font-family: 'Quicksand', sans-serif;
    background-color: #0C0A3E;
    color:#F3C677;
}
.gallery-title
{
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #7B1E7A;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #7B1E7A;

}
.btn-default:active .filter-button:active
{
    background-color: #7B1E7A;
    color: #F3C677;
}

.gallery-item{
    width:200px;
    height:200px;
    margin:auto;
}

.well figcaption {
    text-align: center;
    color: #0C0A3E;
}

.gallery_product
{
    margin-bottom: 30px;
}

.user-icon{
    width:80px;
    height:80px;
    margin-bottom: 40px;
}
.gallery_product img:hover{
  transform: scale(1.2,1.2);
}
