<div>
    <h5 class="col-md-6 col-md-offset-1"><a type="button" class="btn btn-default" href="#!/newStudent">New Student</a></h5>
</div>
<div class="col-md-10 custyle" >
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Course</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tr ng-repeat="user in userList track by $index">
            <td>{{user.courseId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' href="#!/newStudent/{{user.firstName}}/{{user.lastName}}/{{user.phone}}/{{user.city}}/{{user.email}}"><span class="glyphicon glyphicon-edit"></span></a> <a href="#!/studentList" class="btn btn-danger btn-xs" ng-click="removeUser(user)"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </table>
</div>