.btn-teacher {
    font-size: 0.8em;
    float: right;
    margin-left: 0.4em;
}

.btn-teacher-remove {
    background-color: #a64dff;
}

.btn-teacher-add{
    background-color: #e066ff;
}

.btn-teacher-register{
    background-color: #4d94ff;
}