
<!-- courses menu -->

<div class="attendance-galery col-sm-3">
  <uib-accordion close-others="true">
    <div class="courseItem"  ng-repeat="course in courses">
        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed" id="'course'+{{course.id}}">
           <img ng-src="{{course.courseUrl}}" class="img-circle course-image" />
            {{course.name}}</button>
         <ul class="list-group"  uib-collapse="isCollapsed">
            <li class="list-group-item sessionItem"ng-repeat="session in course.sessionsData" ng-click="selectSession(session)"> {{session.start.getUTCDate()}} {{session.month}}</li>
        </ul>
    </div>
  </uib-accordion>
</div>


<div class="sessionDetails col-sm-4 ng-show" id="sessionDetails">
    <!-- buttons -->

    <!-- session details pannel -->
    <div  class="sessionDetailsItem  col-sm-12">
        <h4>{{sessionTitle}} - {{sessionDate}} - {{sessionStart}}</h4>

        <button type="button" id= "regList" class="btn btn-default" ng-click="isCollapsedDetails = !isCollapsedDetails">Registered Students</button>
        <ul class="list-group" dnd-list="list" uib-collapse="isCollapsedDetails">
           <li ng-repeat="student in registeredStudents" 
           class="list-group-item  sessionItem"
            dnd-draggable="item"
            dnd-moved="list.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-class="{'selected': models.selected === item}">{{student}}</li>
        </ul>
        <button type="button" class="btn btn-default" ng-click="isCollapsedDetails = !isCollapsedDetails">Removed Students</button>
        <ul class="list-group" uib-collapse="isCollapsedDetails">
            <li ng-repeat="student in removedStudents" class="list-group-item  sessionItem">{{student}}</li>
        </ul>
        <button type="button" class="btn btn-default" ng-click="isCollapsedDetails = !isCollapsedDetails">Added Students</button>
        <ul class="list-group"  dnd-list="list" uib-collapse="isCollapsedDetails">
            <li ng-repeat="student in addedStudents"class="list-group-item  sessionItem">
                    {{student}}</label>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-2">
    <div>
        <!--class="row col-md-9 col-md-offset-3 custyle"-->
        Students
        <ul  dnd-list="list" >
          <li id = "usList" ng-repeat="user in userList"
            class="list-group-item  sessionItem" 
            dnd-draggable="item"
            dnd-moved="list.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-class="{'selected': models.selected === item}">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>
